<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.simpleformapp577697" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Simple Form App</name>
  <description>
        Proof of concept on Ionic for Citizen Science data collection forms
    </description>
  <author email="sduquej@gmail.com" href="sduquej@gmail.com">
      Sebastián D.
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <preference name="fullscreen" value="true" />
    <!--<preference name="phonegap-version" value="3.3.0" />-->
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>