<div ng-controller="UploadController">
  watching model:
  <div class="btn btn-lg btn-success" ng-file-select ng-model="files">Upload using model $watch</div>
  <div class="btn btn-lg btn-default" ng-file-select ng-file-change="upload(files)">Upload on file change</div>
  Drop File:
  <div ng-file-drop ng-model="vm.files" class=""
       drag-over-class="dragover" ng-multiple="true" allow-dir="true"
       accept=".jpg,.png,.pdf">Drop Images or PDFs files here</div>
  <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
</div>

