<div class="jumbotron">
  <h1>Form created from JSON</h1>

  <form name="vm.form" ng-submit="vm.onSubmit()" novalidate>
    <formly-form  model="vm.formData" fields="vm.formConfig.jsonConfig">
      <button type="submit" class="btn btn-lg btn-success">Contribute!</button>
      <button type="button" ng-click="vm.resetForm(form)" class="btn btn-lg btn-danger">Reset!</button>
    </formly-form>
  </form>
</div>

<h2>Current Data Values</h2>
<pre>{{vm.formData | json}}</pre>

<h3>Input JSON</h3>
<pre>{{::vm.formConfig.jsonConfig | json}}</pre>
