<div class="panel panel-default">
  <div class="panel-heading">
    <!-- ModifyData_Rec: Modify the content of the tag below with the heading of your campaign -->
    <h3>Contribute to Example Campaign</h3>
  </div>
  <div class="panel-body">
    <form name="vm.form" ng-submit="vm.onSubmit()">
      <formly-form  model="vm.formData" fields="vm.formConfig.jsonConfig">
        <div class="spinner" ng-show="vm.loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success" ng-disabled="vm.form.$invalid || vm.loading">
            <!-- ModifyData_Opt: Modify the label below, used on the submit button -->
            Contribute!
          </button>
          <button type="button" ng-click="vm.resetForm(vm.form)" class="btn btn-lg btn-danger" ng-disabled="vm.loading">
            <!-- ModifyData_Opt: Modify the label below, used on the form reset button -->
            Start Over
          </button>
        </div>
      </formly-form>
    </form>
  </div>
</div>

<hr/>
<h3>Current Data Values</h3>
<pre>{{vm.formData | json}}</pre>
