<div class="input-group">
  <input class="form-control" type="text" placeholder="Coordinates" ng-model="vm.location"/>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="vm.setLocation()">
      <i class="glyphicon glyphicon-map-marker"></i>
    </button>
  </span>
</div>
<div class="jumbotron">
  <h2>Mammal observation form</h2>

  <form name="vm.form" ng-submit="vm.onSubmit()">
    <formly-form  model="vm.formData" fields="vm.formConfig.jsonConfig">
      <button type="submit" class="btn btn-lg btn-success" ng-disabled="vm.form.$invalid">Contribute!</button>
      <button type="button" ng-click="vm.resetForm(vm.form)" class="btn btn-lg btn-danger">Reset!</button>
    </formly-form>
  </form>
</div>

<h2>Current Data Values</h2>
<pre>{{vm.formData | json}}</pre>

<h3>Input JSON</h3>
<pre>{{::vm.formConfig.jsonConfig | json}}</pre>
